body {
    background-color: var(--white);
    
}
nav {
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    margin: auto;
    padding: 10px;
}
#home {
    
}
#title {
    width: fit-content;
    margin: 20px auto;
}
#desc {
    width: fit-content;
    margin: 30px 50px;
}
.gridBox {
    border: 2px solid red;
    display: grid;
    padding: 20px;
    justify-content: space-evenly;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
}
.idea {
    border: 2px solid green;
    width: 100%;
    background-color: grey;
    color: darkblue;
}
.content {
    text-align: center;
    
}

/* --Background-- */

#background {
    background-color: var(--secondary);
    height: 95vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }




@media (max-width : 850px) {
    .gridBox {
        grid-template-columns: 90%;
    }
}
